@import '../../General\ Styles/_variables.scss';

.park-toilet-page {
    width: 100vw;
    height: 100%;
    background-color: $orange;
}

.toilet-title {
    font-family: 'Comfortaa', cursive;
    text-align: center;
    font-weight: 700;
    font-size: 4em;
    color: $yellow;
}

.info-container {
    display: flex;
    justify-content: center;


}

.map {
    height: 100vh;
}

@media screen and (max-width: 1380px) {
    .info-container {
        flex-direction: column;
    }
    
    .map {
        width: 100vw;
        height: auto;
    }
}

@media screen and (max-width: 800px) {
     .toilet-title {
        font-size: 3em;
    }
}

@media screen and (max-width: 500px) {
     .toilet-title {
        font-size: 2em;
    }
}
