@import '../../General\ Styles/_variables.scss';

.park-toilet-page {
    background-color: $brown;
    width: 100vw;
    height: 100%;
}

.toilet-title,
.park-toilet-title {
    font-family: 'Comfortaa', cursive;
    text-align: center;
    font-weight: 700;
    font-size: 4em;
    color: $white;
}

.info-container {
    display: flex;
    justify-content: center;
}

.place-buttons {
    text-align: center;
}

.map {
    height: 100vh;
}

.toilet-cards {
    display: flex;
    justify-content: center;
}

.loader {
    text-align: center;
    padding-top: 2em;
    color: $white;
    font-size: 3em;
    background: black;
    width: 100vw;
    height: 100vh
}

// @media screen and (max-width: 1380px) {
//     .info-container {
//         flex-direction: column;
//         justify-content: center;
//     }
    
//     .map {
//         width: 100vw;
//         height: auto;
//     }
// }

@media screen and (max-width: 1200px) {
    .info-container {
        flex-direction: column;
        justify-content: center;
    }
    
    .map {
        width: 100vw;
        height: auto;
    }
}

@media screen and (max-width: 800px) {
     .toilet-title {
        font-size: 3em;
    }
}

@media screen and (max-width: 500px) {
     .toilet-title {
        font-size: 2em;
    }
}
