@import '../../General\ Styles/_variables.scss';

.park-toilet-page {
    background-color: $orange;
    
}

.toilet-title {
    font-family: 'Comfortaa', cursive;
    text-align: center;
    font-weight: 700;
    font-size: 4em;
}

.info-container {
    display: flex;
    // justify-content: center;


}

.map {
    
}

@media screen and (max-width: 500px) {
    body {
        color: blue;
    }
}

// @media all {

// }

//sounds like I might want to use vw for font sizes
//https://www.youtube.com/watch?v=na-X_SM8vg0
