@import '../../General\ Styles/_variables.scss';

.home-page {
    background-color: black;
    color: $white;
    // overflow: hidden;
    // width: 100vw;
    height: 220vh;
}

.mighty-five {
    display: grid;
    text-align: center;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    grid-gap: 5em 0;
}

.mighty-info {
    font-size: 1.4em;
    // margin-left: 2em;
    margin-top: 1em;
    width: 80%;
    line-height: 1.3
}

.mighty-title {
    font-size: 4em;
}

.toilet-title {
color: $yellow;
font-size: 3em;
}

.toilet-title:hover {
    color: blue;
}

.intro-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2em;
}

// .bike {
//     width: 5em;
// }

.park-images {
    width: 43vw;
    height: 100%;
    margin: 2em;

    &:hover {
        transform: scale(1.1);
    }
    
    &:focus {
        transform: scale(1.1);
    }
}

@media screen and (max-width: 1350px) {
    .mighty-five {
        display: flex;
        flex-direction: column;
        align-items: center;
        grid-gap: 0;
    }
    .mighty-title {
        font-size: 4em;
        text-align: center
    }
    .mighty-info {
        margin: 2em;
    }
    .park-images {
    width: 60vw;
    height: 100%;
    margin: .5em;
    }
}

@media screen and (max-width: 450px) {
    .mighty-title {
        font-size: 3em
    }
    .mighty-info {
        font-size: 1.2em;
    }
}