@import '../../General\ Styles/_variables.scss';

.safe-toilets-page {
    width: 100vw;
    height: 100vh;
    background-color: $blue;
    text-align: center;
}

.redirect-message {
    color: $white;
    padding-top: 3em;
    margin: 0 7em 0 7em;
    font-size: 1.8em;
}


.safe-bike-title {
    padding-top: .5em;
    font-family: 'Comfortaa', cursive;
    color: $white;
    font-size: 3em;
}

.safe-bike-btn {
    margin: .5em;
    border: none;
    border-radius: 30px;
    padding: .4em;
    width: 6em;

    &:hover {
        cursor: pointer;
        background-color: $light-yellow;
        transform: scale(1.2);
    }
    
    &:focus {
       cursor: pointer;
        background-color: $light-yellow;
        transform: scale(1.2);
    }
}

.mighty-five-btn {
    margin-top: 1.5em;
    width: 14em
}

@media screen and (max-width: 650px) {
    .redirect-message {
        font-size: 1.4em;
        margin: 0 4em 0 4em
    }
}