@import '../../General\ Styles/_variables.scss';

.safe-toilets-page {
    width: 100vw;
    height: 100vh;
    background-color: $blue;
    text-align: center;
}

.redirect-message {
    color: $white;
    padding-top: 3em;
    margin: 0 7em 0 7em;
    font-size: 1.8em;

}

// .tp-bike {
//     width: 5em;
// }