@import '../../General\ Styles/_variables.scss';

.park-overview-page {
    width: 100vw;
    height: 100%;
}

.info-title {
    font-size: 6em;
    color: $navy;
    text-align: center;
    text-shadow: 3px 3px 4px $white
}

.toilets-info-btn {
    font-family: 'Comfortaa', cursive;
    text-align: center;
    background-color: $green;
    color: $white;
    font-size: 2em;
    width: 25vw;
    opacity: .8;
    border-radius: 30px;
    text-decoration: none;
    margin: 1em;

    &:hover {
        cursor: pointer;
        color: $white;
        background-color: $navy;
    }
    &:focus {
        cursor: pointer;
        color: $white;
        background-color: $navy;
    }
}

.description {
    background-color: $white;
    opacity: .7;
    text-align: center;
    font-size: 1.4em;
    padding: .5em;
    margin: .5em 1.5em 0 1.5em;
    font-weight: 300;
    line-height: 1.1;
}

.info-holder {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-columns: [first] 25% [line2] 25% [line3] auto;
    text-align: center;
    justify-items: center;
    background-color: $white;
    opacity: .7;
    text-align: center;
    font-size: 1.35em;
    padding: 1.2em;
    margin: .5em 1.5em 0 1.5em;
    font-weight: 300;
    line-height: 1.1;
}

.info-bite {
    margin-bottom: 1em;
}

.category {
    font-weight: 700;
}

.nps-link {
    text-decoration: none;
}

.link-container {
    display: flex;
    justify-content: center;
    text-align: center;
}

@media screen and (max-width: 1800px) {
    .park-page-title {
        font-size: 3em;
    }
}

@media screen and (max-width: 1450px) {
    .info-holder {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .toilets-info-btn {
        font-size: 2em;
    }
}

@media screen and (max-width: 900px) {
     .park-page-title {
        font-size: 2.7em;
    }

    .toilets-info-btn {
        font-size: 1.5em;
    }
}

@media screen and (max-width: 650px) {
      .park-page-title {
        font-size: 2.3em;
    }

    .toilets-info-btn {
        font-size: 1em;
    }

    .description {
        font-size: 1.2em;
    }

    .info-holder {
        font-size: 1.1em;
    }
}