@import '../../General\ Styles/_variables.scss';

.toilet-types-page {
    background-color: $green;
    color: $white;
    width: 100vw;
    height: 100vh
}

.info {
    margin: 2em 12em 0 12em;
    text-align: center;
}


@media screen and (max-width: 1000px) {
    .info {
        margin: 2em 9em 0 9em
    }
}

@media screen and (max-width: 800px) {
    .info {
        margin: 2em 7em 0 7em
    }
}

@media screen and (max-width: 500px) {
    .info {
        margin: 1em 5em 0 5em
    }
}

@media screen and (max-width: 350px) {
    .info {
        margin: 1em 3em 0 3em
    }
}