$purple: rgba(37, 20, 49, 1);
$navy: rgba(20, 23, 40, 1);
$orange: rgba(154, 72, 34, 1);
$yellow: rgba(242, 173, 70, 1);
$green: rgba(41, 74, 24, 1);
$dark-green: rgba(26, 48, 15, 1);
$white: rgba(235, 235, 235, 1);