$purple: rgba(37, 20, 49, 1);
$navy: rgba(20, 23, 40, 1);
$blue: rgb(40, 48, 89);
$orange: rgba(154, 72, 34, 1);
$yellow: rgba(242, 173, 70, 1);
$light-yellow: rgba(242, 199, 71, 1);
$lightest-yellow: rgba(252, 233, 106, 1);
$green: rgba(41, 74, 24, 1);
$dark-green: rgba(26, 48, 15, 1);
$white: rgba(235, 235, 235, 1);
$red: rgba(86, 6, 6, 1)