@import './reset';
@import './keyframes';
@import './mixins';
@import './variables';
@import '../Components/Error/Error.scss';
@import '../Components/Home/Home.scss';
// @import '../Components/Nav/Nav.scss';
@import '../Components/Park/Park.scss';
@import '../Components/ParkFacts/ParkFacts.scss';
@import '../Components/ParkToilets/ParkToilets.scss';
@import '../Components/ToiletCard/ToiletCard.scss';
@import '../Components/ToiletTypes/ToiletTypes.scss';


body, html {
  font-family: 'Comfortaa', cursive;
  // font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  //   'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  //   sans-serif;
  background-color: $white;
  height: 100%;
  width: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-family: 'Ultra', serif;
}

// code {
//   font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
//     monospace;
// }

//'Comfortaa' is font of logo
//outlined font- font-family: 'Vast Shadow', cursive;
