@import './reset';
@import './keyframes';
@import './mixins';
@import './variables';
@import '../Components/Error/Error.scss';
@import '../Components/Home/Home.scss';
@import '../Components/Park/Park.scss';
@import '../Components/ParkToilets/ParkToilets.scss';
@import '../Components/ToiletCard/ToiletCard.scss';
@import '../Components/ToiletTypes/ToiletTypes.scss';


body, html {
  font-family: 'Comfortaa', cursive;
  background-color: $white;
  height: 100%;
}

h1 {
  font-family: 'Ultra', serif;
}
